accelerate
diffusers==0.31.0
einops
gltflib
huggingface_hub
imageio
jaxtyping
matplotlib
numpy
omegaconf
onnxruntime
opencv-python
open3d
packaging
pillow
psutil
pybind11
pygltflib
pymeshlab
pytorch-lightning
PyYAML
rembg
safetensors
scikit-image
sentencepiece
spandrel==0.4.1
timm
torch
torchvision
tqdm
transformers==4.46.3
tokenizers<0.21
trimesh
typeguard
xatlas
git+https://github.com/NVlabs/nvdiffrast.git
